<html>
<head>
    <script type="text/javascript" src="/js/addSchedule.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
</head>
<body>

<form method="post">
<label>Year:
<input type="number" name="year" class="form-control">
</label><br>
<!---->
<label>Semester:
<input type="number" name="semester" class="form-control">
</label><br>
<!---->
<label>Section:
<input type="text" name="section" class="form-control">
</label><br>
<!---->
<label>Day:
<select name="day" class="form-control-static">
<option value="Monday">Monday</option>
<option value="Tuesday">Tuesday</option>
<option value="Wednesday">Wednesday</option>
<option value="Thursday">Thursday</option>
<option value="Friday">Friday</option>
</select>
</label><br><br>
    <!--<div id="programs">-->

            <!--<h5 class="card-title">Semester</h5>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            <!--<label class="card-title">Semester:-->
                <!--<input type="number" name="semester" class="card-text">-->
            <!--</label>-->
    <div class="card-deck" id="card-deck"></div>
            <div id="programs" style="width: 18rem;">
                <div id="program"></div>
            </div>
        <!--</div>-->
    <!--</div>-->
<button type="submit" class="btn btn-primary" formaction="api/schedule">Submit</button>
</form>

</body>
</html>