<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Second Community School Project</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
</head>

<body>
    <div></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="#" style="margin-right: 20rem;">Mekelle University Community School</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">About Us</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact Us</a></li>
                    </ul>
                    <!--<span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="/registerStudent">Create an Account</a></span>-->
            </div>
    </div>
    </nav>
    </div>
    <div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <!--<div class="illustration"><i class="icon ion-ios-navigate"></i></div>-->
            <div class="form-group"><input type="text" name="uname" placeholder="Username" class="form-control" /></div>
            <div class="form-group"><input type="email" name="email" placeholder="Email" class="form-control" /></div>
            <div class="form-group"><input type="password" name="password" placeholder="Password" class="form-control" /></div>
            <div class="form-group"><button class="btn btn-primary btn-block" formaction="/api/login" type="submit">Log In</button></div>
            <div class="text-center">

                <small class="help-block red"><%= message %></small>
            </div>
            <a href="/forgotPassword" class="forgot">Forgot your username or password?</a></form>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/js/smoothproducts.min.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>