<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login, Sign up Header</title>


    <!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/header-fixed.css">
    <script type="text/javascript" src="/js/studentAttendance.js"></script>
    <!--<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>-->

</head>

<body>
<form method="post">

    <label> Date:
        <input type="text" name="date" id="date" readonly/>
    </label>

</form>
<!--<div class="card-header" style="width: 18rem;">-->
    <!--Featured-->
<!--</div>-->
<!--<div class="card" style="width: 18rem;">-->
    <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
    <!--<div class="card-body">-->
        <!--<h5 class="card-title">Card title</h5>-->
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="card border-dark mb-3" style="max-width: 18rem;">-->
    <!--<div class="card-header">Header</div>-->
    <!--<div class="card-body text-dark">-->
        <!--<h5 class="card-title">Dark card title</h5>-->
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="card-deck">-->
    <!--<div class="card">-->
        <!--<img class="card-img-top" src=".../100px200/" alt="Card image cap">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
        <!--<img class="card-img-top" src=".../100px200/" alt="Card image cap">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
        <!--<img class="card-img-top" src=".../100px200/" alt="Card image cap">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="card-group">-->
    <!--<div class="card">-->
        <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div clcd ass="card">-->
        <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>-->
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
        <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
            <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>