<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login, Sign up Header</title>


    <!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/header-fixed.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>-->

</head>

<body>

<header class="header-fixed">

    <div class="header-limiter">

        <h1><a href="#">Company<span>logo</span></a></h1>

        <nav>
            <a href="attendance">Attendance</a>
            <!--<a href="new">Schedule</a>-->
            <a href="#">Grade</a>
            <!--<a href="#">About</a>-->
            <!--<a href="#">Faq</a>-->
            <!--<a href="#">Contact</a>-->
        </nav>

    </div>

</header>

<!-- The content of your page would go here. -->



<!-- Demo ads. Please ignore and remove. -->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script src="http://cdn.tutorialzine.com/misc/enhance/v3.js" async></script>-->

</body>

</html>
