<!--<html>-->
<!--<head>-->
    <!--<% include ../partials/head.ejs %>-->

    <!--@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');-->
<!---->
    <!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">-->
    <!--<script type="text/javascript" src="/js/addSchedule.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="ejs.min.js"></script>-->

     <!--Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!---->
     <!--Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
<!---->
     <!--Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
<!--</head>-->
<!--<header>-->
    <!--<% include ../partials/header.ejs %>-->

<!--</header>-->
<!--<body>-->
<!--<form method="post">-->
    <!--<label>Year:-->
        <!--<input type="number" name="year" class="form-control">-->
    <!--</label><br>-->

    <!--<label>Semester:-->
        <!--<input type="number" name="semester" class="form-control">-->
    <!--</label><br>-->

    <!--<label>Section:-->
        <!--<input type="text" name="section" class="form-control">-->
    <!--</label><br>-->

    <!--<label>Day:-->
    <!--<select name="day" class="form-control-static">-->
    <!--<option value="Monday">Monday</option>-->
    <!--<option value="Tuesday">Tuesday</option>-->
    <!--<option value="Wednesday">Wednesday</option>-->
    <!--<option value="Thursday">Thursday</option>-->
    <!--<option value="Friday">Friday</option>-->
    <!--</select>-->
    <!--</label><br><br>-->

    <!--&lt;!&ndash;<div id="programs" class="card" style="width: 18rem;">&ndash;&gt;-->
        <!--&lt;!&ndash;<div id="program" class="card-body"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<button type="submit" class="btn btn-primary" formaction="api/schedule">Submit</button>&ndash;&gt;-->
<!--</form>-->
<!--</body>-->
<!--</html>-->