<html>
<head>
    <!--<script type="text/javascript">-->
        <!--function createViews(i) {-->

            <!--let period = document.getElementById("period");-->

            <!--let periodLabel = document.createElement("label");-->
            <!--periodLabel.innerText = "Period: ";-->
            <!--period.appendChild(periodLabel);-->
            <!--let periodInput = document.createElement("input");-->
            <!--periodInput.setAttribute("name", "period");-->
            <!--periodInput.setAttribute("type", "number");-->
            <!--periodInput.setAttribute("value", i+1);-->
            <!--period.appendChild(periodInput);-->
            <!--period.appendChild(document.createElement("br"));-->

            <!--let courseNameLabel = document.createElement("label");-->
            <!--courseNameLabel.innerText = "Course Name: ";-->
            <!--period.appendChild(courseNameLabel);-->
            <!--let courseNameInput = document.createElement("input");-->
            <!--courseNameInput.setAttribute("name", "courseName");-->
            <!--courseNameInput.setAttribute("type", "text");-->
            <!--period.appendChild(courseNameInput);-->
            <!--period.appendChild(document.createElement("br"));-->
            <!--let teacherNameLabel = document.createElement("label");-->

            <!--// console.log(teachers);-->
            <!--teacherNameLabel.innerText = "Teacher Name: ";-->
            <!--period.appendChild(teacherNameLabel);-->
            <!--let teacherNameInput = document.createElement("input");-->
            <!--teacherNameInput.setAttribute("name", "teacherName");-->
            <!--teacherNameInput.setAttribute("type", "text");-->
            <!--period.appendChild(teacherNameInput);-->
            <!--period.appendChild(document.createElement("br"));-->
            <!--period.appendChild(document.createElement("br"));-->

            <!--return period;-->

        <!--}-->

        <!--window.onload = function() {-->
            <!--// console.log(document.getElementsByTagName("input")[0].nodeType)-->
            <!--let program = document.getElementById("program");-->
            <!--// period.innerText = "Hey";-->
            <!--// console.log(period);-->
            <!--for (let i = 0; i < 7; i++) {-->
                <!--program.appendChild(createViews(i));-->
            <!--}-->
        <!--}-->
    <!--</script>-->

</head>
<body>
<!--<form method="post">-->

    <!--<label><%= teachers[0]=>:-->
        <!--<input type="number" name="year"/>-->
    <!--</label><br>-->
<!---->
    <!--<label>Semester:-->
        <!--<input type="number" name="semester"/>-->
    <!--</label><br>-->

    <!--<label>Section:-->
        <!--<input type="text" name="section"/>-->
    <!--</label><br>-->
    <!--<label>Day:-->
        <!--<select>-->
            <!--<option value="Monday" name="day">Monday</option>-->
            <!--<option value="Tuesday" name="day">Tuesday</option>-->
            <!--<option value="Wednesday" name="day">Wednesday</option>-->
            <!--<option value="Thursday" name="day">Thursday</option>-->
            <!--<option value="Friday" name="day">Friday</option>-->
        <!--</select>-->
    <!--</label><br><br>-->

    <!--<div id="program">-->
        <!--<span id="period"></span>-->
    <!--</div>-->
    <!--<label>Period:-->
        <!--<input type="number" name="period" value="1"/>-->
    <!--</label><br>-->
<!---->
    <!--<label>Teacher Name:-->
        <!--<input type="text" name="teacherName"/>-->
    <!--</label><br>-->
<!---->
    <!--<label>Course Name:-->
        <!--<input type="text" name="teacherName"/>-->
    <!--</label><br>-->
<!---->
    <!--<button type="submit" value="Submit" formaction="/api/schedule">Submit</button>-->
<!--</form>-->
</body>
</html>